<div class="col-md-6 user-container">
  <h2 style="margin: auto"> User Details</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
          <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" style="margin-bottom: 10px;"  (click)="addUser()"> Add User</button>
  <button class="btn btn-danger" (click)="home()">Home</button>
</div>