<div class="col-md-6 lang-container">
  <h2 style="margin: auto"> City </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>AR Value</th>
        <th>EN Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of citys">
        <td>{{city.id}}</td>
        <td>{{city.name}}</td>
        <td>{{city.arValue}}</td>
        <td>{{city.enValue}}</td>
        <td><button class="btn btn-success" (click)="deleteCity(city)"> Delete</button>
          <button class="btn btn-success" (click)="editCity(city)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
    </tbody>
  </table>
  <!-- style="width:100px"  -->
  <button class="btn btn-danger" style="margin-bottom: 10px;"  (click)="addCity()"> Add City</button>
  <button class="btn btn-danger" (click)="home()">Home</button>
</div>