<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name"> Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input formControlName="email" placeholder="First Name" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="password" name="password" class="form-control"
        id="password">
    </div>

    <button class="btn btn-success">Add</button>

    <button class="btn btn-danger" (click)="back()">Back</button>
  </form>
</div>