<div class="col-md-6 home-container">
    <h2 style="margin: auto">Home</h2>
    <!-- <button class="btn btn-danger" style="margin-bottom:10px" (click)="goToUsers()"> Users</button>
    <button class="btn btn-danger" style="margin-bottom:10px" (click)="goToLangs()"> Langs</button> -->
    <button class="btn btn-danger" style="margin-bottom:10px" (click)="goToGovernorates()"> Governorates</button>
    <button class="btn btn-danger" style="margin-bottom:10px" (click)="goToCities()"> City</button>
    <button class="btn btn-danger" style="margin-bottom:10px" (click)="goToAreas()"> Area</button>
    <button class="btn btn-danger" style="margin-bottom:10px" (click)="goToTags()"> Tag</button>
    <button class="btn btn-danger" style="margin-bottom:10px" (click)="goToContacts()"> Contact</button>
</div>